*{
  box-sizing: border-box;
  //background: aquamarine;
}

body{
  /*  background-image: url("../img/train1_BG.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}

.bg_img{
  object-fit: contain;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -999;
  -webkit-clip-path: ellipse(50% 50% at 50% 9%);
  clip-path: ellipse(50% 50% at 50% 9%);
}
nav{
  background: black;
}

.login{
  color: white;
  font-size: 1.5rem;
}
